<section class="redeem layout-container">
  <h2>How to Redeem</h2>
  <div class="row space-between align-center">
    <div class="redeem-card">
      <div class="icon">
        <img src="{{ base_path ~ directory }}/assets/images/click.svg" alt="Click">
      </div>
      <h3>1. Selection</h3>
      <p class="description">The Barbeque Nation Happiness Card comes in multiple denominations. Please select the one that fits your requirement and budget.</p>
    </div>
    <div class="redeem-card">
      <div class="icon">
        <img src="{{ base_path ~ directory }}/assets/images/wallet.svg" alt="Click">
      </div>
      <h3>2. Payment Mode</h3>
      <p class="description">It’s extremely simple to buy the Happiness Card that you desire. We have multiple payment models available on the app: you can choose to pay through your Debit/Credit Card, Netbanking, UPI Transfers or payment wallets.</p>
    </div>
    <div class="redeem-card">
      <div class="icon">
        <img src="{{ base_path ~ directory }}/assets/images/voucher.svg" alt="Click">
      </div>
      <h3>3. Voucher Details</h3>
      <p class="description">Once your payment is successful, the voucher details will reflect on your profile automatically. You can use the voucher code the next time you make your reservation/booking through our app.</p>
    </div>
    <div class="redeem-card">
      <div class="icon">
        <img src="{{ base_path ~ directory }}/assets/images/credit-card.svg" alt="Click">
      </div>
      <h3>4. Make Payment</h3>
      <p class="description">In order to make your table booking, you will have to make the payment in advance. While doing so, you can use the voucher code or the Happiness Card that you have purchased.</p>
    </div>
  </div>
  <div class="redeem__breaker">
    <span>Or</span>
  </div>
  <span class="redeem__link">You Can Redeem It From Outlet</span>
</section>
