<div class="user-form-popup hide dialog-popup-custom" id="share-reservation-mail">
  <div class="corporate-offer">
    <div class="corporate-block">
      <div class="corporate-title">
        Share Reservation On Email
        <a href="#" role="button" class="profile-popup-close" id="profile-reservation-email-share-close">
          <img src="../../../../themes/custom/bbq_nation/assets/images/close.svg" alt="">
        </a>
      </div>
      <div class="corporate-form">
        <div id="corporate-email">
          <div class="input-group">
            <input type="email" placeholder="Enter Email" class="full-width-input" id="profile-reservation-email-share-input" name="email" required>
          </div>
          <div class="corporate-verify" id="profile-share-booking-email">
            <span>Please enter the email id of the user to share the booking</span>
            <input type="hidden" id="profile-share-booking-id" value="">
            <input type="submit" class="share-on-mail-submit anchor-disabled" id="profile-reservation-email-share-button">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="user-form-popup-overlay"></div>
</div>
