.updates {
  &--block {
    padding: 60px 0 0;

    @include bp-xs-small() {
      padding: 20px 0;
    }

    @include bp-small() {
      padding: 30px 0 0;
    }

    @include bp-medium() {
      padding: 20px 0 0;
    }
  }

  &-carousel {
    margin-top: 15px;

    @include bp-xs-small() {
      margin-bottom: 0 !important;
    }

    @include bp-small() {
      margin-bottom: 0 !important;
    }

    .slick {
      &-slide {
        >div {
          @include bp-small() {
            padding: 15px 10px;
          }
          @include bp-medium() {
            padding: 15px 20px;
          }
          padding: 15px 20px;
        }
      }
    }
  }
}
