{#
/**
 * @file
 * Theme override for field.
 */
#}

{% set classes = [
  'field',
  field_name|clean_class,
  field_type|clean_class,
] %}

<div{{ attributes.addClass(classes) }}>
  {% block field %}
    {% for item in items %}
      {{ item.content }}
    {% endfor %}
  {% endblock %}
</div>
