{#
/**
 * @file
 * Login layout for GSH site.
 */
#}

{% extends "page.html.twig" %}

{% block content %}
  <div class="login-page-Wrapper">
    <div class="logo-image">
      <img src="../../../themes/custom/bbq_nation/logo.svg">
    </div>
    <div class="login-content">
      {{ page.content }}
    </div>
  </div>
{% endblock %}
