{#
/**
 * @file
 * Theme implementation to for the simple text paragraph.
#}

{% extends "paragraph.html.twig" %}
{% block content %}
  <div class="layout-container paragraph__simple-text">
    {% if content.field_title|render|striptags %}
      <div class="paragraph__title">
        {{ content.field_title }}
      </div>
    {% endif %}
    {% if content.field_summary|render|striptags %}
      <div class="paragraph__summary">
        {{ content.field_summary }}
      </div>
    {% endif %}
  </div>
{% endblock %}
