<div class="news--categories-info">
  <div class="news--categories-title">
    {{ fields.name.content }}
  </div>
  <div class="news--categories-count">
    <span>({{ fields.uuid.content }})</span>
  </div>
</div>
