<div class="news--recent-post-data">
  <div class="news--recent-post-content-left">
    <div class="news--recent-post-image">
      {{ fields.field_image.content }}
    </div>
  </div>
<div class="news--recent-post-content-right">
  <div class="news--recent-post-title">
    {{ fields.title.content }}
  </div>
  <div class="news--recent-post-updated">
    {{ fields.changed.content }}
  </div>
  </div>
</div>
